.overlay{
    position: fixed;
    background-color:aqua;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#sendname{

    border-radius: 25px;
    background-color: green;
    padding: 15px;
    width: min-content;
    display: block;
    color: white;
    font-size: large;

}
h3{
    display: none;
}
#notice{
    text-align: center;
}
#footer{
    display: none;
    text-align: center;
}
@media only screen and (min-width: 500px) {
#footer{
    display: block;
}
}
canvas{
    margin-left: auto;
    margin-right: auto;
    display: block;
}